.div1{
	width: 1100;
	display: grid;
	grid-template-columns: auto 50px 350px 350px 350px auto;
	grid-template-rows: 115px 425px 350px 50px;
	grid-gap: 15px;
}
nav{
	grid-row: 1/2;
	grid-column: 2/6;
	background-image: url(img/header_bg.png); 

}

ul{
	list-style: none;
	display: inline-flex;
	float: right;
	margin-top: 50px;
	margin-right: 50px;
}

a{
	text-decoration-line: none;
	padding: 20px;
	text-align: center;
	color: #2F4F4F;
}

.div2{
	grid-column: 3/4;
	grid-row:2/3; 
}

.img2{
	width: 350px;
	height:425px;
}

.div4{
    grid-column: 5/6; 
    grid-row: 2/3;  
}

.img3{
	width: 350px;
	height: 200px;
}

.div3{
	grid-column: 4/5;
	grid-row: 2/3;
}

h1{
	font-size: 40px;
	text-align: center;
	color: #D2B48C;
	margin-top: 60px;
}

.div5{
	grid-column: 3/6;
	grid-row: 3/4;
	background-color: #D2B48C;
}

footer{
	background-image: url(img/footer_bg.png);
    grid-column: 2/6;
    grid-row: 4/5;

}
.p1{
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: white;
	font-family: 'Lato', sans-serif;
}

p{

	font-size: 35px;
	line-height: 50px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;

}